.note {
    width: 300px;
    min-height: 300px;
    max-height: 500px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px #BBBBBB;
    transition: box-shadow 0.2s;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 15px;
    overflow: auto;
    outline: 0px transparent !important;
}

.note.is-dragging {
    opacity: 0.5;
}

.note:hover {
    box-shadow: 0 2px 15px #BBBBBB
}
